# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api

# Base de donnees PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=my_database

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRATION=1d

# Logging
LOG_LEVEL=debug
